[Unit]
Description=X-Cash DPOPS Program background process
After=network-online.target time-sync.target mongodb.service
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
Type=simple
LimitNOFILE=infinity
User=${USER}
WorkingDirectory=${XCASH_DPOPS_DIR}build
ExecStart=${XCASH_DPOPS_DIR}build/xcash-dpops --block-verifiers-secret-key ${BLOCK_VERIFIER_SECRET_KEY}
Restart=on-failure
RestartSec=5s
 
[Install]
WantedBy=multi-user.target