[Unit]
Description=XCash Blockchain Explorer (xmrblocks)
After=network-online.target
Wants=network-online.target

[Service]
User=xcash
Group=xcash
WorkingDirectory=/home/xcash/onion-xcash-blockchain-explorer/build
ExecStart=/home/xcash/onion-xcash-blockchain-explorer/build/xmrblocks \
  --port 8081 --bindaddr 127.0.0.1 --daemon-url 127.0.0.1:18281 --enable-json-api 0
Restart=always
RestartSec=3
TimeoutStopSec=10
LimitNOFILE=65535
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
ReadOnlyPaths=/home/xcash/onion-xcash-blockchain-explorer
ReadWritePaths=/home/xcash/.X-CASH /home/xcash/.X-CASH/lmdb
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
CapabilityBoundingSet=
AmbientCapabilities=
StandardOutput=null


[Install]
WantedBy=multi-user.target